{% block _features_form_features_widget %}
    <ul class="list-unstyled">
    {% for choice in choices %}
        <li>
            <label
                class="fieldset-label form-check form-switch ps-0"
                for="{{ id }}_{{ loop.index0 }}"
            >
                <input
                    id="{{ id }}_{{ loop.index0 }}"
                    name="{{ full_name }}[]"
                    type="checkbox"
                    {{ choice.value in data ? 'checked="checked"' : '' }}
                    class="toggle form-check-input"
                    value="{{ choice.value }}"
                />
                {{ ('feature.' ~ choice.label)|trans }}
            </label>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
