{% extends 'front.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block meta %}
    {% if product.metaTitle %}<meta name="title" content="{{ product.metaTitle }}">{% endif %}
    {% if product.metaDescription %}<meta name="description" content="{{ product.metaDescription }}">{% endif %}
{% endblock %}

{% block meta_robots %}
    <meta name="robots" content="{{ product.metaRobotsDirectives|join(', ') }}">
{% endblock %}

{% block rich_snippets %}
    {% if product.richSnippets %}
        <script type="application/ld+json">
            {{ product.richSnippets|json_encode|raw }}
        </script>
    {% endif %}
{% endblock %}

{% block main %}
    <div class="hero bg-base-200 py-24">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <h1 class="text-5xl font-bold">{{ product.name }}</h1>
                <p class="py-6">
                    {{ product.description }}
                </p>

                {% if product.prices|length > 0 %}
                    {% for price in product.prices %}
                        {% if price.enabled %}
                            {{ include('pro/product/buy/_buy_button.html.twig', {price: price}) }}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
