{% trans_default_domain 'front' %}

<li>
    <a href="https://docs.fastfony.com" target="_blank">
        {{ 'link.documentation'|trans }}
    </a>
</li>
{% if feature_enabled('products') %}
    <li>
        <a href="{{ path('product_index') }}">
            <span>{{ 'link.products'|trans }}</span>
        </a>
    </li>
{% endif %}
{% if feature_enabled('contact_requests') %}
    <li>
        <a href="{{ path('app_page_contact__invoke') }}">
            {{ 'link.contact'|trans }}
        </a>
    </li>
{% endif %}
